* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: white;

  padding: 2.5vh 0vh;
}

#root {
  margin: auto;
  border: 20px solid gray;
  height: 95vh;
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100px 100px auto 100px;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

 footer {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  color: white;
}

header {
  background-image: linear-gradient(gray, rgb(47, 47, 47));
}

nav {
  background-color: gray;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #root {
    grid-auto-rows: 100px 200px auto 100px;
  }

  .nav-form {
    flex: 1;
  }

  .nav-form .search-input{
    width: 100px;
  }

  ul {
    flex: 1;
  }

}
nav .nav-form {
  padding: 1rem 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.nav-form .search-label {
  font-size: 1.2rem;
  color: white;
  flex: 1;

  display: grid;
  place-content: center;
}

.nav-form .search-input {
  width: 100%;
  flex: 2;
  text-indent: 0.5rem;
  border: none;
}

.nav-form .search-input:focus {
  outline: 3px solid black;
}

.nav-form .search-input::placeholder {
  font-size: 1rem;
}

ul {
  list-style: none;

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
}

li .nav-link {
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 0.6rem 0.8rem;
  border: 2px solid black;
}

li .link:hover {
  opacity: 0.8;
}

main {
  background-color: white;
  overflow-y: auto;
  padding: 1rem;
}

.post-not-found-main {
  display: grid;
  place-content: center;
}

main article {
  height: 100px;
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  margin-bottom: 0.2rem;
}

.body-link {
  color:black;
  text-decoration: none;
}

.post-found {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: bold;
}

.body {
  width: 500px;
  text-align: justify;
  color: green;
  line-height: 1.4rem;
}

.datetime {
  color: blue;
}
.handle-buttons-post-page {
  display: flex;
  gap: 1rem;
}
.delete-button, .edit-button {
  width: 100px;
  padding: 0.6rem 1rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete-button {
  background-color: red;
}

.edit-button {
  background-color: blue;
}
.post-not-found {
  padding: 1rem;
  background-color: darkgray;
  height: 100%;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.whoops {
  font-size: 3rem;
  font-weight: bold;
}

.not-found {
  color: red;
  font-weight: bold;
}

.disappoint {
  color: darkblue;
}

.home-page-button {
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.post-form, .edit-post-form {
  border: 3px solid gray;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.title-label, .edit-title-label {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-align: left;
}

.post-title, .edit-post-title {
  height: 2rem;
  text-indent: 0.5rem;
  width: 50%;
  border: 2px solid gray;
  text-align: justify;
  font-weight: bold;
  line-height: 1.3rem;
}


.post-title:focus, .edit-post-title-focus {
  outline: 3px solid black;
  border: none;
}

.body-label, .edit-body-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.post-body, .edit-post-body {
  width: 80%;
  height: 8rem;
  text-indent: 0.5rem;
  padding: 0.5rem;
  border: 2px solid gray;
  resize: none;
  text-align: justify;
  font-weight: bold;
  line-height: 1.3rem;
}

.post-body:focus, .edit-post-body:focus {
  border: none;
  outline: 3px solid black;
}

.post-body::placeholder, 
.post-title::placeholder {
  font-weight: bold;
}

.edit-post-body::placeholder,
.edit-post-title::placeholder {
  font-weight: bold;
}

.post-submit, .edit-post-submit {
  padding: 0.5rem 1rem;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
}

.about-section {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.creator {
  color: green;
  font-weight: bold;
}

.copy-right {
  color: red;
}

.missing-section {
  padding: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.missing-text {
  font-weight: bold;
  color: black;
}

.missing-emoji {
  font-size: 3rem;
}

.back-to-home {
  background-color: green;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(lightgray, rgb(47, 47, 47));
}

